body{
background-image: url('https://3.imimg.com/data3/JB/WB/MY-8867485/black-paper-250gsm-to-500gsm-500x500.jpg');
    background-repeat: no-repeat;
    background-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    margin: 2px;

}
form{
    text-align: center;
}
.h{
    font-size: x-large;
}
.req{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.red{
    color: red;

}
p{
    color: red;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
legend{
padding: 10px;}
form.header{
border: 1px solid red;
    border-color:1px  red;
}
.footer{
  
    text-align: center;
}
.headers{
  
    text-align: center;
}
label{
    columns: red;
    font-size: 20px;
}
input{
    border: 2px solid red;
}
.a{
    height: 30px;
    width: 500px;
}
fieldset{
    font-size: 30px;
    font-weight: bolder;
    color:  red;
}
option{
    width: 500px;
}
.opt{
    border: 2px solid red;
    font-size: 20px;
    height: 30px;
    width: 500px;

    color: red;
}
button{
    font-weight: bold;
    color: white;
    background-color: green;
    height: 30px;
    width: 90px;
}
button:hover{
    cursor: pointer;
    background-color: red;
    color: lightgray;
}